
$foreground: #c2c4c8;
$background: #0D1526;
$cursor: #c2c4c8;
$color0: #0D1526;
$color1: #59748B;
$color2: #4C58AE;
$color3: #659098;
$color4: #36A1CC;
$color5: #828482;
$color6: #969A9E;
$color7: #c2c4c8;
$color8: #5e6573;
$color9: #59748B;
$color10: #4C58AE;
$color11: #659098;
$color12: #36A1CC;
$color13: #828482;
$color14: #969A9E;
$color15: #c2c4c8;
