
$foreground: #c6cbcd;
$background: #1c2f37;
$cursor: #c6cbcd;
$color0: #1c2f37;
$color1: #5A7191;
$color2: #987389;
$color3: #CE7884;
$color4: #419F9F;
$color5: #5A9499;
$color6: #9E9991;
$color7: #c6cbcd;
$color8: #68777f;
$color9: #5A7191;
$color10: #987389;
$color11: #CE7884;
$color12: #419F9F;
$color13: #5A9499;
$color14: #9E9991;
$color15: #c6cbcd;
